@import url("https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    @apply bg-gold;
  }
  header {
    @apply fixed top-0 z-30 w-full fox-px shadow-fox_d bg-bone backdrop-filter backdrop-blur bg-opacity-50;
  }
  footer {
    @apply z-30 w-full fox-px;
  }
  nav {
    @apply flex items-center justify-between  mx-auto max-w-screen-xl flex-wrap py-4 /* fox-px bg-brown rounded-b-foxlg shadow-fox_d */;
  }
  section {
    @apply w-full min-h-screen flex pt-28 pb-20 fox-px mb-1;
  }
  content {
    @apply grid w-full items-start mx-auto max-w-screen-xl;
  }
  p {
    @apply font-sans text-green text-sm sm:text-base lg:text-lg tracking-wide;
  }
  h1 {
    @apply font-sans font-bold uppercase text-gold text-2xl sm:text-3xl md:text-4xl lg:text-6xl;
  }
  h2 {
    @apply font-sans font-bold text-green uppercase tracking-wide text-xl sm:text-2xl lg:text-3xl;
  }
  h3 {
    @apply font-sans font-bold text-gold uppercase tracking-wide text-lg sm:text-xl lg:text-2xl;
  }
  h4 {
    @apply font-sans font-semibold uppercase tracking-wide text-gold sm:text-lg lg:text-xl;
  }
  h5 {
    @apply font-bold tracking-wide uppercase text-xs sm:text-sm text-gold;
  }
  input {
    @apply block w-full p-2 text-gold bg-bone bg-clip-padding rounded-foxsm transition ease-in-out fox-mb focus:text-brown focus:bg-bone focus:outline-none;
  }
  textarea {
    @apply block w-full p-2 text-gold bg-bone bg-clip-padding rounded-foxsm transition ease-in-out fox-mb focus:text-brown focus:bg-bone focus:outline-none;
  }
}

@layer components {
  .fox-px {
    @apply px-4;
  }
  .fox-py {
    @apply py-4;
  }
  .fox-mb {
    @apply mb-2 sm:mb-3;
  }
  .fox-mblg {
    @apply mb-6 sm:mb-10;
  }
  .fox-btn {
    @apply px-3 py-2 bg-gold text-brown leading-tight uppercase rounded-foxsm hover:bg-bone hover:text-gold transition duration-150 ease-in-out;
  }
  .fox-grid-2 {
    @apply grid gap-2 sm:gap-3 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6;
  }
  .fox-grid {
    @apply grid gap-2 sm:gap-3 grid-cols-4 md:grid-cols-8 lg:grid-cols-12;
  }
  .fox-grid-item {
    @apply bg-gold rounded-foxsm h-auto w-auto;
  }
  .fox-col-span-124 {
    @apply sm:col-span-1 md:col-span-2 lg:col-span-4;
  }
  .fox-col-span-135 {
    @apply sm:col-span-1 md:col-span-3 lg:col-span-5;
  }
  .fox-card {
    @apply flex items-center rounded-foxsm overflow-hidden bg-gold shadow-fox_l;
  }
  .fox-image {
    @apply object-cover h-full w-full self-center sepia;
  }
  .fox-form {
    @apply rounded-foxlg bg-brown shadow-fox_d fox-px fox-py;
  }
}

@layer utilities {
  .square {
    aspect-ratio: 1 / 1;
  }
  .rectangle {
    aspect-ratio: 2 / 1;
  }
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}
